<div class="card custom-readme-card">
    <div class="card-body">
        <h5 class="card-title">Generated Readme</h5>
        <textarea class="form-control" rows="6" id="generated-readme"></textarea>
        <button class="btn btn-primary float-end" id="copy-clipboard">Copy to clipboard</button>
    </div>
</div>