<div class="card custom-info-card">
    <div class="card-body">
        <h5 class="card-title">Information</h5>
        <p class="card-text">
            <p>
                Type your information in each of the sections. You can click and drag the sections to reorder them or leave them blank to exclude them. Currently this generator does not allow adding images; however, since you can still use markdown, you can use the syntax below to add an image.
            </p>
            <p>
                You can still use Markdown syntax. Some are listed below for convenience:
            </p>
            <ul>
                <li>``` At the start and end of text to highlight code. Add the backticks on a new line for a code block, if not it will be inline</li>
                <li># or any number of hashes for headings. The project title is automatically # and all other sections are ##</li>
                <li>- A dash adds a list item. Remember to add a space between the dash and text</li>
                <li>![](relative location) Replace the relative location with the location of the image or link. Relative to the readme file location in your folder structure</li>
            </ul>
        </p>
    </div>
</div>