<div class="container">
    <div class="row custom-row">
        <div class="col-md-6 col-sm-12">
            <div class="info">
                {{> info}}
                {{> generatedReadme}}
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <form id="readme-form">
                <div id="section-container">
                    {{#each sections as |section|}}
                        {{> sectionCard section=section sectionTypes=../SectionTypes}}
                    {{/each}}
                </div>
            </form>
        </div>
    </div>
</div>