body {
    background-image: url('/images/background.jpg');
    backdrop-filter: blur(10px);
}

.blue-background-ghost {
    background-color: #0096FF;
    opacity: 0.7;
    color: white;
}

.custom-card {
    margin-bottom: 30px;
}

.handle {
    cursor: grab;
    padding-bottom: 15px;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

header {
    margin-bottom: 15px;
}

.custom-row {
    justify-content: center;
    margin-top: 50px;
}

.info {
    margin-bottom: 25px;
}

.btn-custom {
    background-color: #1F51FF;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: 	#5D3FD3;
    color: white;
    border: none;
}

.custom-readme-card {
    margin-top: 15px;
}

#generated-readme {
    width: 100%;
}

#copy-clipboard {
    margin-top: 15px;
}

@media (min-width: 992px) {
    .custom-row {
        /* Flip the info and sections */
        flex-direction: row-reverse;
    }
    
    .info {
        position: sticky;
        top: 15px;
    }
}