.blue-background-ghost {
    background-color: #0096FF;
    opacity: 0.5;
}

.custom-card {
    margin-top: 15px;
    margin-bottom: 15px;
}

.handle {
    cursor: grab;
    padding-bottom: 15px;
}

header,
footer {
    margin-top: 50px;
    margin-bottom: 50px;
}