.blue-background-ghost {
    background-color: #0096FF;
    opacity: 0.5;
}

.custom-card {
    margin-bottom: 30px;
}

.handle {
    cursor: grab;
    padding-bottom: 15px;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

header {
    margin-bottom: 15px;
}

.custom-row {
    justify-content: center;
}

.info {
    margin-bottom: 25px;
}

@media (min-width: 992px) {
    .custom-row {
        /* Flip the info and sections */
        flex-direction: row-reverse;
    }
}